/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  margin: 10px;
  padding: 0px;
}
.home-heading {
  padding: 0px;
}
